

.bracket_container {
  overflow:hidden;
  width: 960px;
  height: 640px;
  font-weight: bold;
  background-image: url('../img/bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  line-height: 1em;
  text-align: center;
}
.bracket_section {
  position: absolute;
  padding:0;
  margin:0;
}
.bracket_section ul {
  padding-left: 0;
  margin-left: 0;
}

.right {
  color: #88C425;
}

.wrong {
  color: #FA2A00;
}

.bracket_container ul {
  list-style: none;
  padding-top: 0px;
}

.bracket_container .bracket_pairing li {
	overflow: hidden;
  cursor: pointer;
	margin-bottom: 60px;
}

.complete {
  padding: 1em;
  background-color: black;
  border-radius: 5px;
  border: 1px solid #eee;
  width: 30%;
  text-align: center;
  color: white;
}

.bracket_0 {
  left: 30px;
  top: 68px;
}

.bracket_1 {
  left: 160px;
  top: 107px;
}
.bracket_1 .bracket_pairing li, .bracket_5 .bracket_pairing li {
  margin-bottom: 136px;
}

.bracket_2 {
  left: 290px;
  top: 183px;
}

.bracket_2 .bracket_pairing li, .bracket_4 .bracket_pairing li {
  margin-bottom: 294px;
}

.bracket_3 {
  left: 430px;
  top: 255px;
}
.bracket_3 .bracket_pairing li {
  margin-bottom: 154px;
}

.bracket_4 {
  left: 570px;
  top: 183px;
}

.bracket_5 {
  left: 700px;
  top: 107px;
}

.bracket_6 {
  top: 68px;
  left: 820px;

}

.mobile {
  display:none;
}
@media all and (max-device-width: 400px) {
  .bracket_container, .table_img, .reset {
    display:none;
  }
  .mobile {
    display:block;
  }
}
