.bracket_container {
  overflow:hidden;
  width: 960px;
  height: 1080px;
  font-family: 'Gill Sans';
  font-weight: bold;
  text-variant: small-caps;
  font-size: 10px;
  background-image: url('bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  line-height: 1em;
}
.bracket_section {
  float: left;  
  width: 9%;
  padding:0;
  margin:0;
}
.bracket_section ul {
  padding-left: 0;
  margin-left: 0;
}

.right {
  background-color: green;
}

.wrong {
  background-color: red;
}

.bracket_container ul {
  list-style: none;
}

.bracket_container .bracket_pairing li {
  height: 10px;
  overflow: hidden;
  margin-bottom: 26px;
  padding-left: 3px;
  background: white;
  padding: 5px;
}

.bracket_container .bracket_pairing li:hover {
  background:#eeeeee;
}


.complete button{
  float: right;
}
.complete {
  position: absolute;
  padding: 5px 20px 20px 20px;
  left: 320px;
  top: 495px;
  background-color: rgb(240,86,71);
  border-radius: 5px;
}
