.bracket_container {
  overflow:hidden;
  width: 960px;
  height: 640px;
  font-family: 'Gill Sans';
  font-weight: bold;
  text-variant: small-caps;
  font-size: 15px;
  background-image: url('bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  line-height: 1em;
}
.bracket_section {
  position: absolute;
  padding:0;
  margin:0;
}
.bracket_section ul {
  padding-left: 0;
  margin-left: 0;
}

.right {
  color: #88C425;
}

.wrong {
  color: #FA2A00;
}

.bracket_container ul {
  list-style: none;
}

.bracket_container .bracket_pairing li {
	overflow: hidden;
	font-size: 12px;
	margin-bottom: 61px;
}

.bracket_container .bracket_pairing li:hover {
  background:#eeeeee;
}


.complete button{
  float: right;
}
.complete {
  position: absolute;
  padding: 5px 20px 20px 20px;
  left: 320px;
  top: 495px;
  background-color: rgb(240,86,71);
  border-radius: 5px;
}
.bracket_0 {
  left: 20px;
  top: 68px;
}

.bracket_1 {
  left: 150px;
  top: 107px;
}

.bracket_2 {
  left: 270px;
  top: 170px;
}

.bracket_3 {
  left: 415px;
  top: 245px;
}

.bracket_4 {
  left: 575px;
  top: 170px;
  text-align: right;
}

.bracket_5 {
  left: 695px;
  top: 107px;
    text-align: right;
}

.bracket_6 {
  top: 68px;
  left: 800px;
  text-align: right;
}

