body { margin:0; padding:0;}
.bracket_container {
  overflow:hidden;
  width: 960px;
  height: 640px;
  font-family: 'Gill Sans';
  font-weight: bold;
  text-variant: small-caps;
  background-image: url('bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  line-height: 1em;
  text-align: center;
}
.bracket_section {
  position: absolute;
  padding:0;
  margin:0;
}
.bracket_section ul {
  padding-left: 0;
  margin-left: 0;
}

.right {
  color: #88C425;
}

.wrong {
  color: #FA2A00;
}

.bracket_container ul {
  list-style: none;
  padding-top: 0px;
}

.bracket_container .bracket_pairing li {
	overflow: hidden;
  cursor: pointer;
	font-size: 12px;
	margin-bottom: 60px;
}

button.reset, button.see_table, button.hide_table {
  background-color: #F7312E;
  color: white;
  font-family: 'Gill Sans';
  font-weight: bold;
  font-size: 14px;
  float: right;
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
}
button.reset:hover, button.see_table:hover, button.hide_table:hover {
  color: #CCC;
}
button.reset:active, button.see_table:active, button.hide_table:active {
  background-color: #D42A2B;
}

.complete {
  color: white;
  position: absolute;
  padding: 5px 20px 20px 20px;
  top: 278px;
  left: 330px;
  background-color: #F7312E;
  border-radius: 5px;
  border: 1px solid #D42A2B;
  font-family: 'Gill Sans';
}
.bracket_0 {
  left: 30px;
  top: 68px;
}

.bracket_1 {
  left: 160px;
  top: 107px;
}
.bracket_1 .bracket_pairing li, .bracket_5 .bracket_pairing li {
  margin-bottom: 136px;
}

.bracket_2 {
  left: 290px;
  top: 183px;
}

.bracket_2 .bracket_pairing li, .bracket_4 .bracket_pairing li {
  margin-bottom: 294px;
}

.bracket_3 {
  left: 430px;
  top: 255px;
}
.bracket_3 .bracket_pairing li {
  margin-bottom: 154px;
}

.bracket_4 {
  left: 570px;
  top: 183px;
}

.bracket_5 {
  left: 700px;
  top: 107px;
}

.bracket_6 {
  top: 68px;
  left: 820px;

}

.mobile {
  display:none;
}
@media all and (max-device-width: 400px) {
  .bracket_container, .table_img, .reset {
    display:none;
  }
  .mobile {
    display:block;
  }
}
